$white: #fff;
$black: #000;
$main-background-color: #00b894;
$main-font-color: #ecf0f1;
$secondary-font-color: #30336b;
$main-borders-color: #30336b;
$main-text-shadow-color: #596275;
$main-buttons-hover-color: $main-background-color;
