*::selection {
    background: #c7ecee;
    color: #30336b;
}

*::-moz-selection {
    background: #c7ecee;
    color: #30336b;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
body {
    background-color: #ffc107;
}
#root {
    height: 100%;
    .timer {
        position: relative;
        text-align: center;
        margin: 0;
        padding: calc(30px + 10vmin) 0;
        font-size: calc(1rem + 15vmin);
        color: #ecf0f1;
        text-shadow: 2px 2px #2c3e50;
        background: rgba(255, 255, 255, 0.4);
    }
}
