*::selection {
    background: #30336b;
    color: #c7ecee;
}

*::-moz-selection {
    background: #30336b;
    color: #c7ecee;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: #ea8685;
}

#root {
    height: 100%;

    .timer {
        position: relative;
        text-align: center;
        margin: 0;
        padding: calc(30px + 10vmin) 0;
        font-size: calc(1rem + 15vmin);
        color: #ecf0f1;
        text-shadow: 2px 2px #596275;
        background: rgba(255, 255, 255, 0.4);
    }
}