*::selection {
    background: darken($main-background-color, 15);
    color: $white;
}

*::-moz-selection {
    background: darken($main-background-color, 15);
    color: $white;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: $main-background-color;
    color: $main-font-color;
}

#root {
    height: 100%;

    .timer {
        position: relative;
        text-align: center;
        margin: 0;
        padding: calc(30px + 10vmin) 0;
        font-size: calc(1rem + 15vmin);
        color: $main-font-color;
        text-shadow: 2px 2px $main-text-shadow-color;
        background: darken($main-background-color, 10);
    }
}
